*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/* Header */

.logo{
  color: black; 
  text-decoration: none;
}

.header, .wrapper{
  margin: 10px auto;
  width: 900px;
  border: 1px solid black;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 10px 20px;
}

.header div{
  width: 270px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.header div button{
  box-shadow: 2px 2px 2px black;
  background-color: whitesmoke;
  padding: 5px 10px;
}

.links{
  color: blue;
}

/* All Movies */

.search{
  width: 450px;
  display: flex;
  margin: 20px auto;
  align-items: baseline;
  justify-content: space-between;
}

.search select{
  border: 1px solid black;
  width: 200px;
  padding: 2px;
}

.searchButton{
  box-shadow: 2px 2px 2px black;
  background-color: whitesmoke;
  padding: 5px 10px
}

/* Login */

.login{
  border: 1px solid black;
  padding: 30px;
}

.loginFields{
  width: 270px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.loginFields input{
  border: 1px solid black;
  padding: 3px;
  margin-bottom: 10px;
}

.errorMessageLog{
  color: red;
  font-size: 13px;
}

.loginButton{
  width: 120px;
  background-color: white;
  border: 1px solid black;
  padding: 5px 40px;
}

.registerButton{
  width: 120px;
  background-color: white;
  border: 1px solid black;
  padding: 5px;
}

.divLine{
  background: black; 
  height: 0.9px;
  margin: 20px 0px;
}

.registerFields{
  width: 310px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.registerFields input{
  border: 1px solid black;
  padding: 3px;
  margin-bottom: 10px;
}

/* MovieDetails */

.movieDetails{
  width: 400px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.addMovie{
  width: 200px;
  background-color: white;
  border: 1px solid black;
  padding: 5px 40px;
}